{% extends "base" %}

{% block content %}
<div class="left_right_container">
  <p><h1>Edit Terrain of Town {{ name }}</h1></p>
  <center>
    <img src = "/town/terrain/all/{{ id }}/map.svg" alt="Town Map" width="75%"/>
  </center>
  <div class="text">
    <p><a href="/town/details/{{ id }}">Back</a></p>
  </div>
</div>
{% endblock content %}
