{% extends "base" %}

{% block content %}
    <p><h1>RPG Tools - Editor</h1></p>
    <h2>Overview</h2>
    <div class="text">
      <p><b>Mountains:</b> <a href="/mountain/all">{{ mountains }}</a></p>
      <p><b>Rivers:</b> <a href="/river/all">{{ rivers }}</a></p>
      <p><b>Streets:</b> <a href="/street/all">{{ streets }}</a></p>
      <p><b>Towns:</b> <a href="/town/all">{{ towns }}</a></p>
    </div>
{% endblock content %}
